
a{
  text-decoration: none;
  color: #444;
}

section{
  padding: 77px 0 50px 0;
  margin: 0 auto;
}

.font2{
  display: block;
  font-size: 40px;
  margin-bottom: 50px;
  text-align: center;
}

.font3{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.font4{
  font-size: 20px;
}


/* header */
.header-all{
  width: 100%;
  margin: 0 auto;
  font-size: 30px;
  background-color: #e0bbc5;
  position: fixed;
  z-index: 10;
  box-shadow: 0 2px 9px 2px #d6b2bb;
}

.header-list{
  text-align: center;
  margin: 20px auto;
  
}

.header-list li{
  position: relative;
  display: inline-block;
  padding: 5px 40px;
  color: #444;
  font-size: 18px;
  border-right: 3px solid #edf0f5;
}

.header-list li:nth-of-type(1){
  border-left: 3px solid #edf0f5;
}



.header-list li:hover{
  opacity: 0.5;
  transition: 0.5s all;
}

/* footer */
footer{
  width: 100%;
  font-size: 20px;
  background-color: #e3b4c4;

}

.footer-list{
  text-align: center;
}

.footer-list li{
  display: inline-block;
  margin: 40px 20px;
}
