@charset "utf-8";
.searched{
  background-color: #f7f7f7;
}

.searched .inner{
  width: 70%;
}

.result .inner{
  width: 70%;
}
.result-title{
  text-align: center;
  display: flex;
  gap: 20px;
  justify-content: center;

}

.result-title .font3{
  font-size: 30px;
}
.result-all{
  margin-bottom: 30px;
  border: 1px solid #555;
  display: flex;
  gap: 10%;
  background-color: #fff;
}
.result-img{
  width: 30%;
  margin: auto;
}

.result-container{
  width: 50%;
  line-height: 2;
  margin: auto 0;
}

.result-btn{
  width: 15%;
  display: block;
  margin: auto;
  text-align: center;
}

.result-img img{
  width: 100%;
}

.txt-inner{
  font-weight: bold;
  display: flex;
  gap: 30px;
}

.result-txt{
  margin-left: 20px;
  font-size: 15px;
}

.btn-link{
  display: inline-block;
  margin-top: 10%;
  padding: 5px;
  border: 2px solid #666;
  border-radius: 5px;
}

.txt-inner{
  border-bottom: 1px solid #888;
}

.result-price{
  border-bottom: 1px solid #888;
}

.colorSttl{
  color: #888;
  font-weight: normal;
}

.searched-item{
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 2;
}

.searched-item .left{
  text-align: right;
}